<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	<insert id="boardWrite" parameterType="java.util.Map">
		INSERT INTO BOARD (SEQ,ID,NAME,EMAIL,SUBJECT,CONTENT,REF)
		VALUES (SEQ_BOARD.NEXTVAL,#{id},#{name},#{email},#{subject},#{content},SEQ_BOARD.CURRVAL)
	</insert>
	
	<select id="boardList" parameterType="java.util.Map" resultType="board">
		SELECT *
		FROM (SELECT ROWNUM RN, AA.* 
			  FROM (SELECT *
			  		FROM BOARD ORDER BY REF DESC, STEP ASC) AA)
		WHERE RN BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<select id="boardSearch" parameterType="java.util.Map" resultType="board">
		SELECT * 
		FROM (SELECT ROWNUM RN, AA.* 
			  FROM (SELECT *
			  		FROM BOARD
			  		WHERE 
			  			<if test='searchType == "name"'>
			  				NAME LIKE '%' || #{name} || '%'
			  			</if>
			  			<if test='searchType == "subject"'>
			  				SUBJECT LIKE '%' || #{subject} || '%'
			  			</if>
			  		ORDER BY REF DESC, STEP ASC) AA)
		WHERE RN BETWEEN #{startNum} AND #{endNum}
	</select>

	<select id="getTotalA" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<select id="boardView" parameterType="int" resultType="board">
		SELECT * FROM BOARD WHERE SEQ=#{seq}
	</select>
	
	<update id="boardReply1" parameterType="board">
		UPDATE BOARD SET STEP=STEP+1 WHERE REF=#{ref} AND STEP>#{step}
	</update>
	
	<insert id="boardReply2" parameterType="java.util.Map">
		INSERT INTO BOARD
		VALUES (SEQ_BOARD.NEXTVAL,#{id},#{name},#{email},#{subject},#{content},
				#{ref},#{lev},#{step},#{pseq},0,0,SYSDATE)
	</insert>
	
	<update id="boardReply3" parameterType="int">
		UPDATE BOARD SET REPLY=REPLY+1 WHERE SEQ=#{pseq}
	</update>
	
	<update id="boardUpdate" parameterType="map">
		UPDATE BOARD SET SUBJECT=#{subject}, CONTENT=#{content}, LOGTIME=SYSDATE WHERE SEQ=#{seq}
	</update>
	
	<delete id="boardDelete" parameterType="int">
		begin
			UPDATE BOARD SET REPLY=REPLY-1 WHERE SEQ = (SELECT PSEQ FROM BOARD WHERE SEQ=#{seq});
			DELETE BOARD WHERE SEQ=#{seq};
			UPDATE BOARD SET SUBJECT = '[원글이 삭제된 답글] ' || SUBJECT WHERE PSEQ=#{seq};
		end;
	</delete>
</mapper>